.unlis {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .lis {
    float: left;
    border-right:1px solid #bbb;
  }
  
  .lis:last-child {
    border-right: none;
  }
  
  .lis button {
    display: block;
    color: white;
    background-color: #333;
    border-color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .lis button:hover:not(.active) {
    background-color: #111;
  }
  

  .lis-Login {
    float: right;
    border-right:1px solid #bbb;
  }

  .lis-Login:last-child {
    border-right: none;
  }
  
  .lis-Login button {
    display: block;
    color: white;
    background-color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: double;
    border: #333;
  }
  
  .lis-Login button:hover:not(.active) {
    background-color: #111;
  }

  .unlis .id {
    color: white;
    float:right;
    margin-top: 10px;
  }